<div class="form-group multi-component">
  <div class="input-group" [formGroup]="multiControlForm">
    <input type="text" [formControlName]="type" #itemInput (change)="changeState(item)" [ngClass]="{'filled' : filledValue}" name="item" class="form-control multi" [(ngModel)]="item" />
    <label for="{{label}}">{{label | translate}}</label>
    <span class="input-group-append">
      <button class="btn btn-secondary" [disabled]="!item || !item.trim() ||  items?.length >= maxLength" type="button" (click)="addItem(item,type, itemInput)"><i class="fa fa-plus"></i> {{ 'add_word.form.add_button' | translate }}</button>
    </span>
  </div>
  <bw-error-message *ngIf="type == 'images'" [control]="multiControlForm.controls.images" [formSubmitted]="submitted"></bw-error-message>
  <bw-error-message *ngIf="type == 'tags'" [control]="multiControlForm.controls.tags" [formSubmitted]="submitted"></bw-error-message>
  <bw-error-message *ngIf="type == 'examples'" [control]="multiControlForm.controls.examples" [formSubmitted]="submitted"></bw-error-message>
  <bw-error-message *ngIf="type == 'synonym'" [control]="multiControlForm.controls.synonym" [formSubmitted]="submitted"></bw-error-message>

  <div class="images-preview" *ngIf="type == 'images' && items.length > 0">
    <div class="one-image" *ngFor="let itm of items; let Index = index">
      <img [src]="itm">
      <div class="remove" (click)="removeItem(Index)">
        <div class="big">&times;</div> {{ 'add_word.form.remove_button' | translate }}</div>
    </div>
  </div>

  <div class="examples-preview" *ngIf="type == 'examples' && items.length > 0">
    <div class="one-example" *ngFor="let itm of items; let Index = index">
      {{itm}}
      <div class="remove" (click)="removeItem(Index)">
        <div class="big">&times;</div>
      </div>
    </div>
  </div>

  <div class="tags-preview" *ngIf="type == 'tags' || type == 'synonym' && items.length > 0">
    <div class="one-tag" *ngFor="let itm of items; let Index = index">
      {{itm}}
      <div class="remove" (click)="removeItem(Index)">
        <div class="big">&times;</div>
      </div>
    </div>
  </div>

</div>