.filter-word-component {
    padding: 30px 0;
    position: relative;

    .dropdown {
        .dropdown-order {
            min-width   : 7.8rem;
            div {
                &.active {
                    .order {
                        background  : $bw-grey-01;
                    }
                }
            }
        }
    }

    .numberViewedWords {
        position: absolute;
        bottom: 7px;
        left: 15px;
        color: $bw-grey-03;
        font-size: 13px;
        font-style: italic;
    }
}