<form action="">
  <div class="form-group">
    <label for="">Language</label>
    <input type="text" class="form-control">
  </div>
  <div class="form-group">
    <label for="">Word</label>
    <input type="text" class="form-control">
  </div>
  <div class="form-group">
    <label for="">Adjective</label>
    <input type="text" class="form-control">
  </div>
  <div class="form-group">
    <label for="">type</label>
    <input type="text" class="form-control">
  </div>
  <div class="form-group">
    <label for="">Description</label>
    <input type="text" class="form-control">
  </div>
  <div class="form-group">
    <label for="">Sound Url</label>
    <input type="text" class="form-control">
  </div>
  <div class="form-group">
    <label for="">Images Urls</label>
    <input type="text" class="form-control">
  </div>
  <div class="form-group">
    <label for="">Examples</label>
    <input type="text" class="form-control">
  </div>
  <div class="form-group">
    <label for="">Videos</label>
    <input type="text" class="form-control">
  </div>
</form>