<div class="add-word-component">
  <h1>
    New Word
    <div class="dropdown pull-right">
      <button class="btn btn-lang btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="true">
        <span *ngIf="selectedLang" class="lang-{{selectedLang.code}}"></span> {{ selectedLang.name || 'Language' }}
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu dropdown-languages" aria-labelledby="dropdownMenu1">
        <li *ngFor="let lang of languages" [ngClass]="{'active' : lang == selectedLang}"><a href="javascript:void(0)" (click)="changeSelectedLanguage(lang)" class="lang lang-{{lang.code}}">{{lang.name}}</a></li>
      </ul>
    </div>
  </h1>

  <form name="formAddWord" action="" #form="ngForm" novalidate [formGroup]="userForm">
    <div class="form-group">
      <input type="text" formControlName="word" name="word" class="form-control" [(ngModel)]="word.word" required />
      <label for="">Word</label>
      <bw-error-message [control]="userForm.controls.word"></bw-error-message>
    </div>
    <bw-multi [(items)]="word.synonym" formGroupName="multiControl" label="Synonym" type="synonym" maxLength="4"></bw-multi>
    <div class="form-group">
      <input type="text" name="pronounce" formControlName="pronounce" class="form-control" [(ngModel)]="word.pronounce" required/>
      <label for="">Pronounce</label>
      <bw-error-message [control]="userForm.controls.pronounce"></bw-error-message>
    </div>
    <div class="form-group">
      <textarea name="description" (keyup)="autoResize()" id="resizableTextarea" formControlName="description" class="form-control" [(ngModel)]="word.description" required rows="3"></textarea>
      <label for="">Description</label>
      <bw-error-message [control]="userForm.controls.description"></bw-error-message>
    </div>
    <bw-multi [(items)]="word.images" formGroupName="multiControl" label="Image url" type="images" maxLength="4"></bw-multi>
    <bw-multi [(items)]="word.examples" formGroupName="multiControl" label="Example" type="examples" maxLength="5"></bw-multi>
    <bw-multi [(items)]="word.tags" formGroupName="multiControl" label="Tag" type="tags" maxLength="3"></bw-multi>
    <!--<div class="form-group">
      <input type="text" name="type" class="form-control" [(ngModel)]="word.type" required />
      <label for="">Type</label>
    </div>-->
    <!--<div class="form-group">
      <input type="text" name="soundUrl" class="form-control" [(ngModel)]="word.soundUrl" required />
      <label for="">Sound Url</label>
    </div>-->
    <!--<div class="form-group">
      <input type="text" name="videos" class="form-control" [(ngModel)]="word.videos" required />
      <label for="">Videos</label>
    </div>-->
    <div class="form-group text-right">
      <button *ngIf="word._id" class="btn btn-lg btn-danger pull-left" (click)="deleteWord(word._id)"><i class="fa fa-times"></i> Delete</button>
      <button class="btn btn-lg btn-primary" (click)="saveWord()" ><i class="fa fa-check"></i> Save word</button>
    </div>
  </form>
</div>