@import '../../../assets/styles/helpers/variables';
@import '../../../assets/styles/helpers/mixins';

.add-word-component {
    margin-top: 30px;

    h1 {
        padding: 20px 0;
    }

    .dropdown-languages {
        min-width: 7.8rem;

        li {
            .lang {
                padding: 5px 10px;
                font-family: arial;
                font-size: 14px;
                line-height: 14px;
                display: block;

                &:hover {
                    background: $bw-grey-01;
                }
            }

            &.active {
                .lang {
                    background: $bw-grey-01;
                }
            }
        }
    }

    .lang-en_US:before {
        content: "🇺🇸 ";
    }

    .lang-ar_EG:before {
        content: "🇪🇬 ";
    }

    .lang-nl_NL:before {
        content: "🇳🇱 ";
    }
}