<h1>New Word</h1>
<form action="">
  <div class="form-group">
    <input type="text" class="form-control" required />
    <label for="">Language</label>
  </div>
  <div class="form-group">
    <input type="text" class="form-control" required />
    <label for="">Word</label>
  </div>
  <div class="form-group">
    <input type="text" class="form-control" required />
    <label for="">Adjective</label>
  </div>
  <div class="form-group">
    <input type="text" class="form-control" required />
    <label for="">Type</label>
  </div>
  <div class="form-group">
    <input type="text" class="form-control" required />
    <label for="">Description</label>
  </div>
  <div class="form-group">
    <input type="text" class="form-control" required />
    <label for="">Sound Url</label>
  </div>
  <div class="form-group">
    <input type="text" class="form-control" required />
    <label for="">Images Urls</label>
  </div>
  <div class="form-group">
    <input type="text" class="form-control" required />
    <label for="">Examples</label>
  </div>
  <div class="form-group">
    <input type="text" class="form-control" required />
    <label for="">Videos</label>
  </div>
  <div class="form-group text-right">
    <button class="btn btn-lg btn-primary" (click)="addWord()"><i class="fa fa-plus"></i> Add word</button>
  </div>
</form>