@import '../../../assets/styles/helpers/variables';
@import '../../../assets/styles/helpers/mixins';

.add-word-component {
    margin-top      : 15px;
    margin-bottom   : 15px;
    position        : relative;

    &:before {
        content     : ' ';
        border-left : 1px solid $bw-grey-01;
        position    : absolute;
        left        : -20px;
        top         : 25px;
        bottom      : 25px;
        height      : calc(100% - 50px);
    }

    h1 {
        padding     : 0 0 20px;
    }

    .dropdown-languages {
        min-width   : 7.8rem;

        li {
            .lang {
                padding     : 5px 10px;
                font-family : arial;
                font-size   : 14px;
                line-height : 14px;
                display     : block;

                &:hover {
                    background  : $bw-grey-01;
                }
            }

            &.active {
                .lang {
                    background  : $bw-grey-01;
                }
            }
        }
    }

    .lang-en_US:before {
        content: "🇺🇸 ";
    }

    .lang-ar_EG:before {
        content: "🇪🇬 ";
    }

    .lang-nl_NL:before {
        content: "🇳🇱 ";
    }
}