@import '../../../../assets/styles/helpers/variables';
@import '../../../../assets/styles/helpers/mixins';

.multi-component {
    .form-control {
        &[disabled] {
            & ~ label {
                color: $bw-grey-03;
            }
        }
    }
    .examples-preview {
        padding: 5px 0;
        
        .one-example {
            background      : $bw-grey-01;
            position        : relative;
            padding         : 10px 15px;
            margin-bottom   : 3px;

            .remove {
                position    : absolute;
                top         : 0;
                right       : 0;
                bottom      : 0;
                color       : $bw-white;
                background  : $bw-red;
                padding     : 0 10px;
                font-size   : 40px;
                line-height : 40px;
                cursor      : pointer;
                display     : none;
            }

            &:hover {
                .remove {
                    display: block;
                }
            }
        }
    }
    .tags-preview {
        padding: 5px 0;
        
        .one-tag {
            background  : $bw-grey-01;
            position    : relative;
            padding     : 5px 30px 5px 15px;
            margin      : 3px;
            display     : inline-block;

            .remove {
                position    : absolute;
                top         : 0;
                right       : 0;
                bottom      : 0;
                color       : $bw-white;
                background  : $bw-grey-02;
                padding     : 5px;
                font-size   : 20px;
                line-height : 20px;
                cursor      : pointer;
            }

            &:hover {
                .remove {
                    background: $bw-grey-03;
                }
            }
        }
    }
    .images-preview {
        padding: 5px 0;
        .one-image {
            width        : 100px;
            height       : 100px;
            margin       : 5px;
            border       : 5px solid $bw-white;
            box-shadow   : 0 0 3px $bw-grey-03;
            border-radius: 5px;
            display      : inline-block;
            position     : relative;
            overflow     : hidden;

            img {
                width       : 100%;
                height      : 100%;
                object-fit  : contain;
            }

            .remove {
                position    : absolute;
                top         : 0;
                left        : 0;
                right       : 0;
                bottom      : 0;
                color       : $bw-white;
                text-align  : center;
                cursor      : pointer;
                display     : none;
                @include bw-background-with-opacity($bw-red, 0.75);

                .big {
                    line-height : 60px;
                    font-size   : 100px;
                }
            }

            &:hover {
                .remove {
                    display: block;
                }
            }
        }
    }
}