<div class="form-group multi-examples-component">
  <div class="input-group">
    <input type="text" name="example" [(ngModel)]="example" class="form-control" required />
    <label for="">Example sentence</label>
    <span class="input-group-btn">
      <button class="btn btn-success" [disabled]="examples.length >= 10" type="button" (click)="addExample(example)"><i class="fa fa-plus"></i> Add</button>
    </span>
  </div>

  <div class="examples-preview">
    <div class="one-example" *ngFor="let ex of examples; let exIndex = index">
      {{ex}}
      <div class="remove" (click)="removeExample(exIndex)"><div class="big">&times;</div></div>
    </div>
  </div>
</div>