@import '../../../../assets/styles/helpers/variables';
@import '../../../../assets/styles/helpers/mixins';

.multi-examples-component {
    .examples-preview {
        padding: 5px 0;
        
        .one-example {
            background: $bw-grey-01;
            position: relative;
            padding: 10px 15px;
            margin-bottom: 3px;

            .remove {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                color: $bw-white;
                background: $bw-red;
                padding: 0 10px;
                font-size: 40px;
                line-height: 40px;
                cursor: pointer;
                // display: none;
            }

            &:hover {
                .remove {
                    display: block;
                }
            }
        }
    }
}