<div class="row filter-word-component bg-warning bg-light">
  <div class="col">
    <div class="filter-bar">
      <input type="search" name="searchTerm" [(ngModel)]="searchTerm" class="form-control" (keyup)="search(searchTerm)" i18n-placeholder placeholder="Search by word, synonyms, or tags">
    </div>
  </div>
  <div class="col fit">
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        <span *ngIf="selectSorting"></span> {{ selectSorting.label | translate }}
        <span class="caret"></span>
      </button>
      <div class="dropdown-menu dropdown-menu-right dropdown-order" aria-labelledby="dropdownMenu1">
        <div *ngFor="let sort of sortWordsOptions" [ngClass]="{'active' : sort == selectSorting}">
          <a href="javascript:void(0)" class=" dropdown-item order" (click)="changeSelectedSort(sort)">{{sort.label | translate}}</a>
        </div>
      </div>
    </div>
  </div>
  <div class="numberViewedWords" *ngIf="filteredWords.length < words.length">
    <span *ngIf="filteredWords.length > 0" i18n>Display x out of y words.</span>
    <span *ngIf="filteredWords.length == 0" i18n>No words to display for this search.</span>
  </div>
</div>