@import 'links';

body {
    padding: 0;
    margin: 0;
    font-family: $bw-font-first;
}

* {
    transition          : all 0.25s ease-out; /* future, future, please come sooner! */
    -webkit-transition  : all 0.25s ease-out;
    -moz-transition     : all 0.25s ease-out;
    -o-transition       : all 0.25s ease-out;
}