<div class="words-list-component tile-view mb-4">
  <div *ngFor="let w of words | orderBy:{field: sort.field, direction: sort.direction}" class="one-word" data-toggle="modal"
    data-target="#myModal" (click)="wordDetialsModal(w)">
    <div (click)="editWord(w); $event.stopPropagation();" class="edit">
      <i class="fa fa-pencil"></i> <em>Edit</em>
    </div>
    <div class="images" *ngFor="let image of w.images">
      <img [src]="image" alt="" width="100">
    </div>
    <div class="word">
      {{w.word}}
      <br>
      <small *ngIf="w.pronounce">[{{w.pronounce}}]</small>
    </div>
  </div>
</div>


<!-- The Modal -->
<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title" i18n>View Word Details</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">

        <p id="wordName" i18n>Word : </p>

        <p id="wordPronounce" i18n> Pronounce : </p>

        <p id="wordDescription" i18n>Description : </p>

        <p>
            <span id="wordSynonym" i18n>Synonym : </span>
          </p>
        <p>
          <span id="wordImages" i18n>Images : </span>
        </p>

        <p>
          <span id="wordExamples" i18n>Examples : </span>
        </p>

        <p>
          <span id="wordTags" i18n>Tags : </span>
        </p>

      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal" i18n>Close</button>
      </div>

    </div>
  </div>
</div>