// colors
$bw-blue    : #5cb3fd;
$bw-red     : #E53134;
$bw-green   : #90C944;
$bw-white   : #ffffff;
$bw-grey-01 : #cccccc;
$bw-grey-07 : #333333;
$bw-black   : #000000;


// z index levels
$bw-z-index-1 : 5;
$bw-z-index-2 : 4;
$bw-z-index-3 : 3;
$bw-z-index-4 : 2;
$bw-z-index-5 : 1;

// fonts
$bw-font-first  : 'Playfair Display', serif;
$bw-font-second : Arial;
