<div class="collapsable-container bg-light hide">
  <span class="close" (click)="closeAddWord()">&times;</span>
  <div class="add-word-component">
    <h1>
      {{ 'add_word.form.new_word' | translate }}
    </h1>
    <form name="formAddWord" action="" #form="ngForm" novalidate [formGroup]="addWordForm">
      <div class="form-group dropdown">
        <input type="text" formControlName="word" autocomplete="off" name="word" class="form-control"
         aria-haspopup="true" aria-expanded="true" [(ngModel)]="word.word" required />
        <ul class="dropdown-menu dropdown-autocomplete" aria-labelledby="dropdownMenuButton" 
            [ngClass]="{'show' : autoCompleteResult && autoCompleteResult.length > 0}">
          <li *ngFor="let item of autoCompleteResult" (click)="loadWord(item.id)">
            {{item.word}}
          </li>
        </ul>
        <label for="">{{ 'add_word.form.word' | translate }}</label>
        <bw-error-message [control]="!addWordForm.pristine && addWordForm.controls.word"></bw-error-message>
      </div>
      <div class="form-group">
        <input type="text" name="pronounce" autocomplete="off" formControlName="pronounce" class="form-control" [(ngModel)]="word.pronounce"
          required/>
        <label for="">{{ 'add_word.form.pronounce' | translate }}</label>
        <bw-error-message [control]="!addWordForm.pristine && addWordForm.controls.pronounce"></bw-error-message>
      </div>
      <div class="form-group">
        <div class="textarea-container" id='textarea-container'>
          <div class="backdrop" id='backdrop'>
            <div class="textarea-highlights" id='textarea-highlights'></div>
          </div>
          <textarea name="description" appLimitLength [maxLength]="30" [countDown]="30" id="resizableTextarea" formControlName="description"
            class="form-control textarea" [(ngModel)]="word.description" required rows="3"></textarea>
          <label for="">{{ 'add_word.form.description' | translate }}</label>
          <div class='textarea-countdown' id='textarea-countdown'>30</div>
        </div>
        <bw-error-message [control]="!addWordForm.pristine && addWordForm.controls.description"></bw-error-message>
      </div>
      <button (click)="addMoreDetails = true" *ngIf="!addMoreDetails" class="btn btn-block btn-link">{{ 'add_word.form.expand_form.message' | translate }} </button>
      <div class="add-more-details" *ngIf="addMoreDetails">
        <bw-multi [(items)]="word.synonym" formGroupName="multiControl" label="add_word.form.synonym" type="synonym" maxLength="4"></bw-multi>
        <bw-multi [(items)]="word.images" formGroupName="multiControl" label="add_word.form.images" type="images" maxLength="4" [submitted]="formSubmitted"></bw-multi>
        <bw-multi [(items)]="word.examples" formGroupName="multiControl" label="add_word.form.examples" type="examples" maxLength="5" [submitted]="formSubmitted"></bw-multi>
        <bw-multi [(items)]="word.tags" formGroupName="multiControl" label="add_word.form.tags" type="tags" maxLength="3" [submitted]="formSubmitted"></bw-multi>
      </div>
      <!--<div class="form-group">
      <input type="text" name="type" class="form-control" [(ngModel)]="word.type" required />
      <label for="">Type</label>
    </div>-->
      <!--<div class="form-group">
      <input type="text" name="soundUrl" class="form-control" [(ngModel)]="word.soundUrl" required />
      <label for="">Sound Url</label>
    </div>-->
      <!--<div class="form-group">
      <input type="text" name="videos" class="form-control" [(ngModel)]="word.videos" required />
      <label for="">Videos</label>
    </div>-->
      <div class="form-group text-right mt-4">
        <button *ngIf="word.id" class="btn btn-lg btn-danger pull-left" (click)="deleteWord(word.id)">
          <i class="fa fa-times"></i> {{'add_word.form.delete_button' | translate}}</button>
        <button class="btn btn-lg btn-primary" (click)="saveWord()">
          <i class="fa fa-check"></i> {{'add_word.form.save_button' | translate}}</button>
      </div>
    </form>
  </div>
</div>